.dashboard-layout {
  min-height: 100vh;
  background-color: #f8f9fa;
  position: relative;
}

.dashboard-content {
  min-height: 100vh;
  transition: all 0.3s ease;

  &.sidebar-closed {
    margin-left: 0;
  }
}



.dashboard {
  display: flex;
}

.dashboard-container {
  display: flex;
}

.dashboard-content {
  flex:0 0 75%;
  max-width: 75%;
}

@media (max-width: 768px) {
  .dashboard-content {
    margin-left: 0;
  }
} 