@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --app-logo-color: #2E3A59;
  --theme-color: #313131;
  --active-bg-color: #434A5C;
  --tabs-active-color: #303030;
  --active-tab-border: #06AF11;
  --active-tab-height: 3px;
  --disabled-tab-color: #B8B8B8;
  --search-bg-color: #F8F8F8;
  --btn-primary-color: #1980E5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@font-face {
  font-family: "Roboto-Regular";
  src: url('./fonts/Roboto-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url('./fonts/Roboto-Bold.ttf');
  font-display: swap;
}

.roboto_regular {
  font-family: Roboto-Regular !important;
}

.roboto_bold {
  font-family: Roboto-Bold !important;
}

.theme_color {
  color: var(--theme-color) !important;
}

.app_logo_color {
  color: var(--app-logo-color) !important;
}

.active_bg_color {
  background-color: var(--active-bg-color) !important;
}

.tabs_active_color {
  color: var(--tabs-active-color) !important;
}

.active_tab_border {
  border-color: var(--active-tab-border) !important;
}

.disabled_tab_color {
  color: var(--disabled-tab-color) !important;
}

.search_bg_color {
  background-color: var(--search-bg-color) !important;
}

.btn_primary_color {
  background-color: var(--btn-primary-color) !important;
}

.side-content-height {
  height: calc(100vh - 100px);
}


